<!DOCTYPE html>
<html>
<head>
  <title>Haunted</title>
  <script src="https://cdn.firebase.com/js/client/1.0.19/firebase.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Need to change way to identify homepage -->
  <% if request.original_url != "http://localhost:3000/" %>
  <%= javascript_include_tag (@js or 'application'), 'data-turbolinks-track' => true %>
  <% end %>

  <%= csrf_meta_tags %>

</head>
<body>
  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
<%= yield %>

</body>
</html>
