<!DOCTYPE html>
<html>
<head>
  <title>Haunted</title>
  
  <script src="https://cdn.firebase.com/js/client/1.0.19/firebase.js"></script>
  
  <%= stylesheet_link_tag 'application', 'vex', 'vex-theme-wireframe', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Need to change way to identify homepage -->
  <% if request.original_url != "http://haunted-game.herokuapp.com/" && request.original_url != "http://haunted-game.herokuapp.com/users/sign_up" && request.original_url != "http://haunted-game.herokuapp.com/users/sign_in" %>
  <%= javascript_include_tag (@js or 'application'), 'data-turbolinks-track' => true %>
  <% else %>
  <script language="JavaScript" type = "text/Javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <% end %>

  <script src="/assets/vex.combined.min.js"></script>
  <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <%= yield %>
  </div id="container">

</body>
</html>
